# virtual environments
.venv/
venv/

# python caches
__pycache__
*.pyc
.mypy_cache/

# application specific
.cache/
.vscode

# font
font/tester/test.ttf
font/tester/test.ttx
font/compose/build
font/compose/png
font/compose/NotoColorEmoji.ttf
font/compose/NotoColorEmoji.tmpl.ttf
*.zip