@font-face {
  font-family: "undertest";
  src: url("test.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "mozilla";
  src: url("EmojiOneMozilla.ttf") format("truetype");
  font-weight: normal;
}

#container {
  display: flex;
  align-items: baseline;
  margin: 0 auto;
  width: min-content;
}

.normal, .font {
  text-align: center;
  font-size: 8em;
  word-wrap:break-word;
  width: min-content;
}

.normal {
  font-family: "mozilla";
  margin-right: 1em;
}

.font {
  font-family: "undertest";
} 
